* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.zip binary
*.dmg binary

SSRVPN_Android/android/app/src/main/jniLibs/**/*.so filter=lfs diff=lfs merge=lfs -text
SSRVPN_Android/assets/geoip.metadb.gz filter=lfs diff=lfs merge=lfs -text
SSRVPN_MacOS/assets/AtlasCore.gz filter=lfs diff=lfs merge=lfs -text
SSRVPN_MacOS/assets/geoip.metadb.gz filter=lfs diff=lfs merge=lfs -text
SSRVPN_Windows/assets/mihomo.exe filter=lfs diff=lfs merge=lfs -text
SSRVPN_Windows/assets/geoip.metadb.gz filter=lfs diff=lfs merge=lfs -text
