<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    
    <application
        android:label="${appLabel}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DisconnectRecoveryActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:process=":disconnect_recovery"
            android:taskAffinity="${applicationId}.disconnect_recovery"
            android:theme="@style/LaunchTheme" />
        
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>

        <!-- VPN Service -->
        <service
            android:name=".SsrvpnVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        
        <!-- 快速设置磁贴 -->
        <service
            android:name=".VpnTileService"
            android:exported="true"
            android:icon="@drawable/ic_vpn_tile"
            android:label="${appLabel}"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <!-- domestic-app-bypass:start -->
        <!-- Android 11+ visibility for DomesticAppBypassPolicy.packageNames. -->
        <package android:name="cmb.pb" />
        <package android:name="cn.cyberIdentity.certification" />
        <package android:name="cn.ninebot.ninebot" />
        <package android:name="cn.wps.moffice_eng" />
        <package android:name="cn.wps.moffice_eng.xiaomi.lite" />
        <package android:name="com.alibaba.aliyun" />
        <package android:name="com.alicom.smartdail" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.baidu.netdisk" />
        <package android:name="com.chinamworld.main" />
        <package android:name="com.coolapk.market" />
        <package android:name="com.ct.client" />
        <package android:name="com.dada.mobile.shop.android" />
        <package android:name="com.deepseek.chat" />
        <package android:name="com.dothantech.android.yinlifun" />
        <package android:name="com.duokan.phone.remotecontroller" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.huaxiaozhu.rider" />
        <package android:name="com.icbc" />
        <package android:name="com.jingdong.app.mall" />
        <package android:name="com.larus.nova" />
        <package android:name="com.lemon.lv" />
        <package android:name="com.lucky.luckyclient" />
        <package android:name="com.luna.music" />
        <package android:name="com.max.xiaoheihe" />
        <package android:name="com.mi.car.mobile" />
        <package android:name="com.mi.earphone" />
        <package android:name="com.mi.health" />
        <package android:name="com.mipay.wallet" />
        <package android:name="com.miui.calculator" />
        <package android:name="com.miui.cleanmaster" />
        <package android:name="com.miui.compass" />
        <package android:name="com.miui.findmy" />
        <package android:name="com.miui.gallery" />
        <package android:name="com.miui.mediaeditor" />
        <package android:name="com.miui.newmidrive" />
        <package android:name="com.miui.notes" />
        <package android:name="com.miui.password" />
        <package android:name="com.miui.screenrecorder" />
        <package android:name="com.miui.securitymanager" />
        <package android:name="com.miui.themestore" />
        <package android:name="com.miui.virtualsim" />
        <package android:name="com.miui.voiceassistProxy" />
        <package android:name="com.miui.weather2" />
        <package android:name="com.mt.mtxx.mtxx" />
        <package android:name="com.netease.cloudmusic" />
        <package android:name="com.netease.uuremote" />
        <package android:name="com.pupumall.customer" />
        <package android:name="com.sankuai.meituan" />
        <package android:name="com.sankuai.meituan.takeoutnew" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.smile.gifmaker" />
        <package android:name="com.ss.android.lark" />
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.livelite" />
        <package android:name="com.taobao.idlefish" />
        <package android:name="com.taobao.taobao" />
        <package android:name="com.tencent.androidqqmail" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.nrc" />
        <package android:name="com.tencent.wetype" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.tmri.app.main" />
        <package android:name="com.wanbangauto.chargepile" />
        <package android:name="com.xiaomi.mibrain.speech" />
        <package android:name="com.xiaomi.scanner" />
        <package android:name="com.xiaomi.shop" />
        <package android:name="com.xiaomi.smarthome" />
        <package android:name="com.xiaomi.superhexa" />
        <package android:name="com.xiaomi.vipaccount" />
        <package android:name="com.xingin.xhs" />
        <package android:name="com.xunmeng.pinduoduo" />
        <package android:name="me.ele" />
        <package android:name="tv.danmaku.bili" />
        <!-- domestic-app-bypass:end -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
